<a href="https://colab.research.google.com/github/Jed-Restor/ELECTIVE2-MACHINE-LEARNING/blob/main/ReviewofPython_Restor_4ANS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jed Laurence D. Restor

This is the notebook for Introduction to Machine Learning

#Review of Python Programming

## Proper Naming Convention

You might think discussing this topic must be pointless or too simplistic but it is actually one of the most frequent mistakes that data scientists, professors, or researchers usually do. Naming variables and functions properly will bring clarity to understanding the code.

In [416]:
import pandas as pd
import numpy as np

In [417]:
last_names = ["Rosales","Cruz", "Reyes"]
#ln , avoid creating ambiguity

In [418]:
last_names

['Rosales', 'Cruz', 'Reyes']

##Practice Activity
1. Create variable declarations for 
   - First Names
   -Grades for Prelim
   -Grades for Midterm
   -Grades for Finals

In [419]:
# CODE HERE 
FN = ['Don','Ian','Carl','Kevin','Sven']
grades = {
        'Prelim' : [70,80,90,85,90],
        'Midterm' : [92,92,95,98,90],
        'Finals' : [93,80,95,85,93]
    }

In [420]:
print(FN, grades)

['Don', 'Ian', 'Carl', 'Kevin', 'Sven'] {'Prelim': [70, 80, 90, 85, 90], 'Midterm': [92, 92, 95, 98, 90], 'Finals': [93, 80, 95, 85, 93]}

##Code Reusability

Just like in any writing we want to reduce redundancies in our content. Just like following the rules of brevity we also consider that in creating cleaner code. One way of applying brevity to code is code reusability wherein you refrain from creating code that you repeat in encoding. This is where the use of functions will be most used. Consider the following code below.

In [421]:
'''
    CASE 2: Computing grades.

    For this cell we are going to look into creating functions for the class.
    This includes computing for their grades and some classroom management
    routines.
'''
### Consider this procedural programming script
gs_1 = [89.4, 78.2, 88.0, 28.5, 67.3]
# Get average grades of the class
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print (cmean)

70.28

In [422]:
# Code here for grades  (89,90,73,45)
G = [89,90,73,45]

def mean(Grades):
  sum = 0
  for total in Grades:
    sum = sum+total
  return sum/len(Grades)
print(mean(G))

74.25

In [423]:
### That works but if you keep doing that for production, it would just look
### like spaghetti code. Instead, if you are repeating code, consider creating
### a function.

def average(grades):
  grades_class = 0
  for g in grades:
    grades_class += g
  avg = grades_class/len(grades)
  return avg
print(average(G))

74.25

In [424]:
## The code above would be reusable but it is not easy to read. We need to 
### enforce the code refactoring for renaming not just the variables but also
### the functions we are creating. So if we would refactor the 'average' 
### Function earlier it could be:

def get_class_ave(arr):
  class_grades = 0
  for grade in arr:
    class_grades += grade
  class_avg = class_grades/len(arr)
  return class_avg
print(get_class_ave(G))

74.25

##Getting Class Statistics

Create a function named get_grades() for computing the semestral grade of each student:

inputs: DataFrame of a class grade sheet.

outpus: DataFrame showing:
    The prelim, midterms, and finals grades of each student
    The semestral grade of each student

Create a function named get_class_stats().

inputs: DataFrame from get_grades().

outpus: DataFrame showing:
    The lowest and highest prelim, midterm, finals, and semestral grades
    the mean, median, mode, and standard deviation of the grades

In [425]:
## Code here##

def get_grades():
  y = FN
  df = pd.DataFrame(grades, index=y)
  print(df)

def get_class_stats():
  y = FN
  df = pd.DataFrame(grades, index = y)
  
  sem = df.mean(axis=1)
  min = df.min(axis=0, numeric_only=True)
  max = df.max(axis=0, numeric_only=True)
  mean = df.mean(axis=0, numeric_only=True)
  median = df.median(axis=0, numeric_only=True)
  mode = df.mode(axis=0, numeric_only=True)
  std = df.std(axis=0, numeric_only=True)

  print('\n SEMESTRAL GRADE:')
  print(sem)
  print('\n MIN:')
  print(min)
  print('\n MAX')
  print(max)
  print('\n MEAN')
  print(mean)
  print('\n MEDIAN')
  print(median)
  print('\n MODE')
  print(mode)
  print('\n STANDARD DEVIATION')
  print(std)

In [426]:
get_grades()
get_class_stats()

       Prelim  Midterm  Finals
Don        70       92      93
Ian        80       92      80
Carl       90       95      95
Kevin      85       98      85
Sven       90       90      93

 SEMESTRAL GRADE:
Don      85.000000
Ian      84.000000
Carl     93.333333
Kevin    89.333333
Sven     91.000000
dtype: float64

 MIN:
Prelim     70
Midterm    90
Finals     80
dtype: int64

 MAX
Prelim     90
Midterm    98
Finals     95
dtype: int64

 MEAN
Prelim     83.0
Midterm    93.4
Finals     89.2
dtype: float64

 MEDIAN
Prelim     85.0
Midterm    92.0
Finals     93.0
dtype: float64

 MODE
   Prelim  Midterm  Finals
0      90       92      93

 STANDARD DEVIATION
Prelim     8.366600
Midterm    3.130495
Finals     6.418723
dtype: float64

##Code Optimization
When we consider your code to be part of production or for customer delivery we must consider that they are not laggy nor too space-consuming for devices. This is a common practice in data science and machine learning wherein training algorithms take up resources from computers or considering the space a model consumes at your workspace or your customer’s device.

Space Complexity

This would specifically refer to your choice of data structures. This is a job for reviewing data structures and algorithms for space complexity. Although in Python for AI we are looking into more data structures like matrices and data frames.

In [427]:
## The following code will optimize how to efficiently store data into memory
enrollees_2016_2020 = ['15022', '18302', '8845', '9203', '10035']
enrollees_2016_2020 = [15022, 18302, 8845, 9203, 10035]

In [428]:
img1 =[[125.453, 254],[64.21,84.53]]
img1

[[125.453, 254], [64.21, 84.53]]

In [429]:
import numpy as np
img1_vector= np.array(img1)
img1_vector

array([[125.453, 254.   ],
       [ 64.21 ,  84.53 ]])

##Practice Activity
code wil try to optimize getting unique elements from the given
list of class codes

curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223L', '223',
                     '727', '418', '673', '672', '450', '124', '771', '654',
                     '231', '768', '768', '224', '654', '673']

### print an array that shows only the unique elements

In [431]:
## CODE HERE ##
curr_2018_courses = ['220', '270', '318', '450', '101', '768', '223L', '223', '727', '418', '673', '672', '450', '124', '771', '654', '231', '768', '768', '224', '654', '673']
n = len(curr_2018_courses)

def printDistinct(curr_2018_courses, n):
 
    for i in range(0, n):
 
        d = 0
        for j in range(0, i):
            if (curr_2018_courses[i] == curr_2018_courses[j]):
                d = 1
                break

        if (d == 0):
            print(curr_2018_courses[i])
  
printDistinct(curr_2018_courses, n)

220
270
318
450
101
768
223L
223
727
418
673
672
124
771
654
231
224